---
layout: default
---

<nav id='sidebar'>
	{% include nav.html %}
</nav>
<section id='intro'>
	<h1>Matlab client library for PostgreSQL</h1>
	<p>PgMex enables Matlab-based application to communicated with PostgreSQL database in a Matlab native way passing data in form of matrices, multi-dimensional arrays and structures. The library is written in pure C which results into a very high performance for both small and data-heavy database requests. Both Windows and Linux OSs are supported.</p>
	
	
	<p>Of course PgMex is not the only way you can communicate with PostgreSQL from Matlab, you could use JDBC or even build a very thin mex wrapper function around C client libraries for PostgreSQL. JDBC solution suffers from higher than libpq-based latency, low performance for large data sets and tuples with multi-dimensional values (PostgreSQL arrays). The second solution would require basically writing PgMex unless you really need a narrow set of functionality comparing to what PgMex can do. </p>

</section>

<section id='content'>
{% for post in site.posts %}
  <article class='{{ post.type }}'>
    <a name='{{ post.url }}' href='#{{ post.url }}'><h2>{% if post.type %}<code><b>{{ post.type }}</b> {{ post.apipath }}</code> {% endif %}{{ post.title }}</h2></a>
    <section class='body'>
      {{ post.content }}
    </section>
  </article>
{% endfor %}
</section>
